

                            /* CSS Contacto */



main {


    .hero__image-contact {
         min-height: 30vh;
         background-image: url(../img/hero-image3.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-attachment: fixed;
         color: #fff;

         div {
            @include flexbox-div;
        
            h1 {
                @include standard-h1; 
            }
    
        }
    }

    .container {
        max-width: 1000rem;
        margin-left: auto;
        margin-right: auto;
        padding: 1.5em;

        @include media-up(md) {
            height: auto;
            margin-bottom: 3rem;
        }  
                                /*  Formulario  */
        .logo {
           text-align: center;
           font-size: 3em;
           margin-top: 2rem;
           margin-bottom: 2rem;
        }
        
        .logo span {
            color: #94094e;
        }  
        .contact-wrapper {
            box-shadow: 0 0 20rem 1 rgba(255, 255, 255, .1);
            display: grid;
            grid-template-columns: 2fr 1fr;
            padding: 2em;

            @include media-up(md) {
               height: 100rem;
               display: grid;
               grid-template-columns: 1fr;
               grid-template-rows: 1fr 1fr;
               justify-content: center;
               align-content: center;
               align-items: center;
               grid-template-areas: 
               "contact-form contact-form"
               "contact-info contact-info"
               ;
           }
            
            .contact-form {
                background: #222222;
                color: #fff;

                @include media-up(md) { 
                    grid-area:contact-form;
                    margin-bottom: 0;
                }

                form {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    p {
                      font-size: 1.6rem;
                      margin: 0;
                      padding: 1em;

                      label {
                        display: block;
                      }
                    }  

                    .block {
                      grid-column: 1 / 3;
                      textarea {
                        height: 25rem;
                      } 
                     button.btn1 {
                        background: #910b49;
                        border: 0;
                        text-transform: uppercase;
                        padding: 1em;
                        margin-bottom: 1rem;
                      }
                       button.btn1:hover,
                       button.btn1:focus {
                         background: #430249;
                         color: #fff;
                         transition: background-color 1s ease-out;
                         outline: 0;
                         cursor: pointer;
                       }
                       button.btn2 {
                        background: #585858;
                        border: 0;
                        text-transform: uppercase;
                        padding: 1em;
                        margin-bottom: 1rem;
                      }
                       button.btn2:hover,
                       button.btn2:focus {
                         background: #757274;
                         color: #fff;
                         transition: background-color 1s ease-out;
                         outline: 0;
                         cursor: pointer;
                       }
                       
                    }

                    button {
                        @extend %button-form;
                    }
                    textarea {
                        @extend %button-form;
                    }

                    input{
                        @extend %button-form;
                    }
                } 
            } 

                            /* CONTACT INFO */

            .contact-info {
               font-size: 1.4rem;
               background: #000;
               color: #fff;
               padding-top: 1rem;
               padding-left: 1rem;

               @include media-up(md) {
                grid-area:contact-info;
                margin-top: 0;
                position:absolute;
                top:0px;
              }
               h2,ul,p {
                list-style: none;
                text-align: left;
                margin: 0 0 1rem 0;
                @include media-up(md) {
                    text-align: center;
                }
              }
              
              ul {
                position: relative;
                right: 20px;
              }
              p {
                font-size: 1.6rem;
              }

            }
        }
    }
                                     /*  CARDS  */
    .container__card {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        gap: 10rem;

        
        @include media-up(lg) {
            gap:0.5rem;
        }

        @include media-up(md) {
            position: relative;
            top: -120px;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        @include media-up(xxsm) {
            position: relative;
            top: -30px;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
        }

        .card {
            position: relative;
            width: 25rem;
            height: 35rem;
            border-radius: 1rem;
            box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
            margin: 4rem;
            .content {
                position: relative;
                z-index: 100;
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                display: flex;
                flex-direction: column;
                overflow: hidden;  
                text-align: center;  
                padding: 2rem;
                background: #fff;
                span {
                    position: absolute;
                    width: 35rem;
                    height: 20rem;
                    background: linear-gradient(to right, #531b53, #951499);
                    transform: rotate(-35deg);
                    top: -50px;
                    left: -100px;
                }
                .img {
                    height: 50%;
                    margin-bottom: 2rem;
                    img {
                        position: relative;
                        width: 15rem;
                        height: 15rem;
                        border-radius: 50%;
                        object-fit: cover;
                        box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
                    }
                }
                h2 {
                    font-size: 1.8rem;
                    color: #1a1919;
                    margin-bottom: 0.5rem;
                }
                h3 {
                    font-size: 1.3rem;
                    color: #5e2066;
                }
                
                p {
                    font-size: 1rem;
                    color: #1a161f;
                    margin-top: 1rem;
                }
            }
            .links {
                position: absolute;
                z-index: 90;
                width: 50px;
                display: flex;
                flex-direction: column;
                gap: 20px;
                background: rgba(255, 255, 255, 0.5);
                box-shadow: 2px 3px 5px rgba(73, 69, 52, 0.4);
                padding: 20px;
                align-items: center;
                right: 10px;
                top: 15px;
                transition: .5s;
                
                i {
                    font-size: 20px;
                    color: #000000;
                }
                .fa-facebook:hover {
                  color: #0158ca;
                }
                
                 .fa-twitter:hover {
                  color: #1C93E4;
                }
                
                .fa-instagram:hover {
                  color: #f025c4;
                }
                
                 .fa-whatsapp:hover {
                  color: #1bc224c2;
                }
            }               
        }
        .card:hover .links {
            right: -50px;
            border-radius: 0 10px 10px 0;
        }
    }
}








