/* /////// Galeria Bootstrap ///////// */
  
main {


.dropdown-item {
    font-size: 1.6rem;
  }
  
  #galeria .text-center {
    font-size: 1.6rem;
  }
  
  #galeria .col-lg-4 {
    padding: 2.5rem;
  }
  
  #galeria img {
    width: 100%;
    height: 55rem;
    border-radius: 4%;
  
  }
  
  #galeria img:hover {
   border: 5px solid #f7f7f7;
  }
}

