/* /////// Galeria Bootstrap ///////// */

main {
  .dropdown-item {
    font-size: 1.6rem;
  }

  #galeria .text-center {
    font-size: 1.6rem;
  }

  #galeria .col-lg-4 {
    padding: 0.5rem;
  }

  #galeria img {
    object-fit: cover;
    border-radius: 4%;
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    height: auto;
    min-height: 100%;
    margin: auto;
    display: block;
  }

  #galeria img:hover {
    border: 5px solid #f7f7f7;
  }
}
